.guide-item-container {
    min-width: 31%;
    // max-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  
    &:hover {
      & .background-image {
        transform: scale(1.2);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }
  
    &.large {
      height: 380px;
    }
  
    &:first-child {
      margin-right: 15px;
    }
  
    &:last-child {
      margin-left: 15px;
    }
  
    .background-image {
      width: 100%;
      height: 100%;
      opacity: 100%;
      // border-radius: 10px;
      position: relative;
      // border-style: solid;
      opacity: 85%;

      &.Erving {
        background-size: cover;
        background-position: center;
      }

      &.LeBron {
        background-size: cover;
        background-position: top;
      }

      &.Giannis {
        background-size: cover;
        background-position: top;
      }

    }

    
  
    .guide-item-body {
      height: 90px;
      max-width: 100%;
      margin-top: 5px;
      padding: 0px 25px;
    //   border: 1px solid black;
    //   background-color: white;
      // border-radius: 10px;
    //   opacity: 0.9;
      position: absolute;

      &.Erving {
        top: 0px;
        left: 0px;
      }

      &.LeBron {
        top: 0px;
        left: 0px;
      }

      &.Giannis {
        top: 0px;
        left: 0px;
      }


  
      h2 {
        font-weight: bold;
        margin: 0 6px 0;
        font-size: 24px;
        // color: #f0ca99;
        // color: #4c2e0f
        color: white;
        // background-color: #222222;
        // border-radius: 10px;
      }
  
      p {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }
  