.guide-container {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;

  h2 {
    font-size: 1.75rem;
    color: black;
    font-weight: 500;
  }

  .features-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    // z-index: 100;
  }
  
  
  
}


